* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:  #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color:#E4E2DD;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
    margin-right: 100px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #8B4513;
}

.lugares {
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    min-height: calc(100vh - 80px);
}

.lugares .container {
    max-width: 1000px;
    margin: 0 auto;
}

.lugares h2 {
    font-size: 60px; 
    color: #fffafa;
    margin-bottom: 60px; 
    font-family: Garamond, serif;
}

.lugar {
    background-color: #e4e2ddcb;
    border-radius: 10px;
    margin-bottom: 40px; 
    display: flex;
    flex-direction: row;
    padding: 30px; 
    align-items: center;
}

.lugar img {
    width: 400px; 
    height: auto;
    border-radius: 10px;
    margin-right: 40px;
}

.descricao {
    text-align: left;
    flex-grow: 1;
}

.descricao h3 {
    font-size: 36px; 
    color: #333;
    margin-bottom: 20px; 
    font-family: Garamond, serif;
}

.descricao p {
    font-size: 24px; 
    color: #666;
}

footer {
    margin-top: auto;
    background-color: #E4E2DD;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 18px;
    color: #8B4513;
}